
*.vsidx
*.lock
1 - LinearCalculation/.vs/LinearCalculation/v17/.suo
2 - Розгалужувальний обчислювальний процес/.vs/LinearCalculation/v17/.suo
2 - Розгалужувальний обчислювальний процес/.vs/BranchingCalculation/v17/.suo
3 - Циклічний обчислювальний процес/.vs/LoopProcess/v17/.suo
Курсова - Метод Ньютона/.vs/NewtonMethod/v17/.suo
4 - Списки/.vs/Lists/v17/.suo
